body{
    text-align: center;
    margin:auto;
    width:40%;
    font-family: sans-serif;
    color: #66263F;
}

.container {
    margin:20px;
    padding:30px;
    background-color: goldenrod;
    border-radius: 20px;
}

.header {
    font-size: 40px;
    font-family: cursive;
}

button, input {
    display: block;
    padding:10px 30px;
    border: 2px solid #66263F;
    border-radius: 10px;
    margin: 20px auto;
    background-color: white;
}

input {
    margin-top: 40px;
}

.result{
    font-weight: bolder;
    font-size: 26px;
}
